@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

#FV {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
  /* position: sticky;
  top: 0%;
  z-index: 1; */
  background-color: #CDF0EA;
  margin-top: 1rem;
  /* border: solid tomato; */
}

#fixed-nav {
  /* border: solid tomato; */
  width: 80%;
  height: 85px;
  margin: 0rem auto;
}

#fixed-nav #logo-font {
  display: inline-block;
  font-family: 'Dela Gothic One', cursive;
  color: rgba(182, 20, 33, 0.87);
  font-size: 1.3pc;
  font-weight: bold;
  border: solid rgba(182, 20, 33, 0.87);
  border-width: 6px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  user-select: none;
}

#icon-bar {
  /* margin-left: 1rem; */
  margin-top: 1.5rem;
  float: right;
  /* border: solid tomato; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}

#icon-bar a {
  text-decoration: none;
  margin-right: 2rem;
  user-select: none;
  font-size: 1.5pc;
  /* border: solid tomato; */
  font-family: 'Dela Gothic One', cursive;
 color: black;
  transition: 0.2s;
}

#icon-bar a:hover {
  
  border-bottom: 4px solid rgba(182, 20, 33, 0.87);
}



::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(182, 20, 33, 0.87); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




#divider {
  width: 100%;
  margin-top: 2rem;
  border-width: 1px;
  opacity: 0.5;
}

#title {
  margin: 3rem auto;
  width: fit-content;

}

h1 {font-size: 2pc;
font-weight: bold;
display: inline;
margin: 3rem auto;
width: fit-content;
/* border: tomato solid; */

}

#ss {

  border: solid #CDF0EA;
  
}



main {
width: 80%;
margin: 3rem auto;

}



 
  img {
    max-width: 100%;
  }
  .slider-container{
    height: 550px;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: rgba(182, 20, 33, 0.87);
    border-radius: 50px;
    margin: 0 .2em 1em;
     }


  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }
  .slide-1 {
    background-image: url("../images/shmaaaa.png");
background-position: top;
  }
  .slide-2 {
    background-image: url("../images/ruthman\ family.jpg");
  }
  .slide-3 {
    background-image: url("../images/byruthman.jpg");
  }




  article {
margin-top: 2rem;
    text-align: center;
    font-size: 1.4pc;
  }

#ParA{
  font-size: 1.4pc;
  margin-top: 2rem;
  text-align: center;
    
}

#hova {

}



.container {

display: flex;
justify-content: space-evenly;

margin: 2rem auto;
/* border: tomato solid; */
}
 
.container .box 
{
  /* border: tomato solid; */
position: relative;
width: 350px;
height: 500px;
overflow:hidden;
transition: 0.5s;
/* border: 5px black; */

}

.container .box:hover{
z-index: 1;
transform: scale(1.25);
box-shadow: 0 25px 40px rgba(0,0,0,.5);


}
 
/* ************************************************************************************************ */

.container .box .imGbx:before{

content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background:linear-gradient(180deg , rgba(183, 221, 219, 0.466),#000);
mix-blend-mode: multiply;
opacity: 0;
transform: 0.5s ;
}
 
.container .box:hover .imGbx:before{

opacity: 1;

}

.container .box .cnotentBox {

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2;
display: flex;
padding: 20px;
align-items: flex-end;

}


.container .box .cnotentBox h2
{
color:#fff;
transition: 0.5s;
text-transform: uppercase;
margin-bottom: 5px;
font-size: 20px;
transform: translateY(200px);



}



/* ************************************************************************************************************* */


.container .box:hover .cnotentBox h2
{


    transform: translateY(0);
    transition-delay: 0.3s;
}


.container .box .cnotentBox p
{

color: #fff;
transition: 0.3s;
font-size: 14px;
transform: translateY(200px);

}


.container .box:hover .cnotentBox p
{
    transform: translateY(0);
    transition-delay: 0.5s;
}
 
.container .box .imGbx img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    }
    




    /* *************************************************************************titleunderMe********* */
    /* .container .box .imGbx img {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        } */


 
 
 
 .title{

    height: 20vh;
    font-family: 'Otomanopee One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
         }



/* ******************************************************************************************************** */


/* body{
 background-color:#DAF7A6 ;



}

header{

background-image: url(/images/b1.jpg);
height: 70%;
--bg-overlay-color: rgb(36, 35, 35);
    --fill-layer-image-opacity: 0.56;
    --fill-layer-background-media-position: fixed;
    --fill-layer-background-media-pointer-events: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980px;
}
     */

    

 .imGFS-Contain{

height: 400px;
width: 550px;
border: 5px solid black;
margin-right: 10px;
position: relative;

     }
.imGFF{
display: flex;

justify-content: space-around;

}

.imGFS-Contain img{
width: 100%;
height: 100%;

     }

     .trans-img1{
position: absolute;
top: 0px;
left: 0px;
opacity: 0;
transition: opacity 0.5s ease ;
}
     
 .trans-img1:hover{
        opacity: 1;}


.fade::after{
content: "TEE-CORP the best choice at all time ..";
color: white;
display: flex;
justify-content:center ;
align-items: center;
font-size: 40px;
background-color: black;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity 0.5s ease ;

}

.fade:hover::after{

    opacity: 0.5;
} 


footer {
  width: 100%;
  height: 400px;
  background-color: #CDF0EA;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 5rem;
  text-align: center;
  /* color: white; */
  font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 1.3pc;
}
#logo-foot {
  position: absolute;
  display: inline-block;
  font-family: 'Dela Gothic One', cursive;
  color: rgba(182, 20, 33, 0.87);
  font-size: 3pc;
  font-weight: bold;
  border: solid rgba(182, 20, 33, 0.87);
  border-width: 15px;
  padding: 0.5rem;
 top: 2rem;
 left: 20rem;
  /* text-align: center; */
  user-select: none;
}
#first-set {
position: absolute;
top: 2rem;
 right:20rem;
 text-align: left;
}
#secound-set {
  position: absolute;
  top: 2rem;
   right:50rem;
   text-align: left;
}
li a {
  /* text-decoration: black; */
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
li a:hover {
  border-bottom: 4px solid rgba(182, 20, 33, 0.87);
}
footer #rights {
  position: absolute;
  bottom: 0.5rem;
   /* left:0rem; */
   right: 32rem;
   background-color:#CDF0EA ;
   height: 30px;
}
.idk {
font-size: 1pc;
font-family: 'Dela Gothic One', cursive;
}